<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <header>
        <h1>게시글 상세</h1>
    </header>

    <ul>
        <li><strong>제목:</strong> <span th:text="${postReadDto.title}">제목</span></li>
        <li><strong>내용:</strong> <span th:text="${postReadDto.content}">내용</span></li>
    </ul>

    <ul>
        <div th:each="comment:${comments}">
            <li>
                <span th:text="${comment.content}">댓글 내용</span>
                <form th:action="@{|/post/${postId}/comment/${comment.id}/update|}" th:object="${commentDto}" method="post" style="display:inline;">
                    <input type="text" th:field="*{content}" placeholder="댓글 수정">
                    <button type="submit">수정</button>
                </form>
                <form th:action="@{|/post/${postId}/comment/${comment.id}/delete|}" method="post" style="display:inline;">
                    <button type="submit">삭제</button>
                </form>
            </li>
        </div>
        <form th:action="@{/post/{postId}/comment/create(postId=${postId})}" th:object="${commentDto}" method="post">
            <input type="text" th:field="*{content}" placeholder="댓글 입력">
            <button type="submit">등록</button>
        </form>
    </ul>

    <footer>
        <div>
            <form th:action="@{|/post/${postId}/update|}" method="get" style="display:inline;">
                <button type="submit">수정</button>
            </form>
            <form th:action="@{|/post/${postId}/delete|}" method="post" style="display:inline;">
                <button type="submit">삭제</button>
            </form>
        </div>
        <a th:href="@{/post}">목록으로 돌아가기</a>
    </footer>
</div>
</body>
</html>
