<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <header>
        <h1>게시글 목록</h1>
    </header>

    <ul>
        <li th:each="post:${paging.content}">
            <span th:text="${post.id}">id</span> -
            <span th:text="${post.title}">제목</span>
            <a th:href="@{/post/{postId}(postId=${post.id})}">보기</a>
        </li>
    </ul>

    <footer>
        <div>
            <a th:if="${paging.hasPrevious()}" th:href="@{|?page=${paging.number-1}|}">이전</a>
            <span th:unless="${paging.hasPrevious()}">이전</span>
            <a th:if="${paging.hasNext()}" th:href="@{|?page=${paging.number+1}|}">다음</a>
            <span th:unless="${paging.hasNext()}">다음</span>
        </div>
        <div>
            <a th:href="@{/post/create}" class="button">글쓰기</a>
        </div>
    </footer>
</div>
</body>
</html>
