<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <header>
        <h1>게시글 목록</h1>
    </header>

    <ul>
        <li th:each="post:${posts}">
            <span th:text="${post.id}">id</span> -
            <span th:text="${post.title}">제목</span>
            <a th:href="@{/post/{postId}(postId=${post.id})}">보기</a>
        </li>
    </ul>

    <footer>
        <button><a th:href="@{/post/create}">글쓰기</a></button>
    </footer>
</div>
</body>
</html>
