<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li>게시글 전체 조회
        <div th:each="post:${posts}">
            <span th:text="${post.id}">id</span>
            <span th:text="${post.writer}">작성자</span>
            <span th:text="${post.title}"> </span>
            <a th:href="@{/post/{postId}(postId=${post.id})}">제목</a>
        </div>
    </li>
    <button><a th:href="@{/post/create}">글쓰기</a></button>
</ul>
</body>
</html>