<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li>게시글 조회
        <ul>
            <li>제목</li>
            <li th:text="${post.title}">제목</li>
            <li>작성자</li>
            <li th:text="${post.writer}">작성자</li>
            <li>내용</li>
            <li th:text="${post.content}">내용</li>
        </ul>
    </li>
    <button><a th:href="@{|/post/${postId}/update|}">수정</a></button>
    <form th:action="@{|/post/${postId}/delete|}" method="post">
        <button type="submit">삭제</button>
    </form>
</ul>
</body>
</html>